doctype html
html(lang="en")
  head
    title Hello
    link(rel="stylesheet", href="/assets/stylesheets/app.css")
    script(src="/assets/javascripts/all.min.js")

  body
    h1= title
    p
      |  Lorem et lorem ipsum dolor sit amet, consectetur adipisicing elit.